
.customNavbar {
    background-color: black;
    color: white;
    font-size: 40px;
}

.leftTopCard {
    background-color: #F8F9FA;
    margin-top: 6%;
}

h5 {
    padding-left: 2%;
    margin-top: 5%;
}


.customSearchBox {
    padding-left: 2%;
    padding-right: 10%;
}

.customUl {
    padding: 2% 2% 2% 2%;

}

.customRopRightCard {
    margin-top: 2%;
}

.cityHeaderText {
    padding-top: 3%;
    padding-left: 2%;
}

.fiveDayForecast {
    padding-top: 3%;
}

.blueBackground {
    background-color: #007BFF;
    color: white;
}