
.customNavbar {
    display: flex;
    background-color: black;
    color: white;
    padding-left: 25%;
}


h5 {
    padding-left: 2%;
    margin-top: 5%;
}


.customSearchBox {
    padding-left: 2%;
    padding-right: 10%;
}

.customUl {
    padding: 2% 2% 2% 2%;

}
