
.customNavbar {
    display: flex;
    background-color: black;
    color: white;
    padding-left: 25%;
}

.card {
    background-color: #F8F9FA;
}

h5 {
    padding-left: 2%;
    margin-top: 5%;
}


.customSearchBox {
    padding-left: 2%;
    padding-right: 10%;
}

.customUl {
    padding: 2% 2% 2% 2%;

}

.customRopRightCard {
    margin-top: 2%;
}

.cityHeaderText {
    padding-top: 3%;
    padding-left: 2%;
}
